
// Colors
// -------------------------------

// White and Black

$night:                     #051039 !default;
$smoke:                     #82879C !default;
$cloud:                     #95989A !default;
$light:                     #ffffff !default;

// Brand
$positive:                        #051039 !default;
$calm:                            #A2EED9 !default;
$balanced:                        #4CD684 !default;
$energized:                       #E9D186 !default;
$assertive:                       #E4554D !default;


// Base
// -------------------------------

$font-family:                     "Rubik", sans-serif !default;

$font-family-base:                $font-family !default;
$font-size-base:                  16px !default;
$font-size-large:                 20px !default;
$font-size-small:                 12px !default;

$line-height-base:                1.428571429 !default; // 20/14
$line-height-computed:            floor($font-size-base * $line-height-base) !default; // ~20px
$line-height-large:               1.33 !default;
$line-height-small:               1.5 !default;

$letter-spacing-base:             0 !default;
$letter-spacing-large:            1px !default;
$letter-spacing-small:            0.4px !default;

$headings-font-family:            $font-family-base !default;
$headings-font-weight:            500 !default;
$headings-line-height:            1.3 !default;

$base-background-color:           #fff !default;
$base-color:                      #212121 !default;

$link-color:                      $balanced !default;
$link-hover-color:                darken($link-color, 15%) !default;

$content-padding:                 10px !default;

$padding-base-vertical:           6px !default;
$padding-base-horizontal:         12px !default;

$padding-large-vertical:          10px !default;
$padding-large-horizontal:        16px !default;

$padding-small-vertical:          5px !default;
$padding-small-horizontal:        10px !default;

$border-radius-base:              4px !default;
$border-radius-large:             6px !default;
$border-radius-small:             3px !default;


// Content
// -------------------------------

$scroll-refresh-icon-color:       #666666 !default;



// Responsive Breakpoint
// -------------------------------

/* Responsive variables*/
$tablet-width: 768px;
$desktop-width: 1024px;
$small-width: 320px;

@mixin largephone {
    @media (min-width: #{$small-width + 1}) and (max-width: #{$tablet-width - 1px}) {
        @content;
}
}

@mixin tablet-landscape {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px})  and (orientation : landscape)
{
    @content;
}
}

@mixin tablet-portrait {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px})  and (orientation : portrait)
{
    @content;
}
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
}
}



// Spacing utilities
// -------------------------------

$sizes :
    ('xs', 0.5),
    ('sm', 0.625),
    ('md', 1),
    ('lg', 1.25),
    ('xl', 1.5),
    ('xxl', 2),
    ('auto', auto);

// Margin
.m-a-0 { margin:        0 !important; }
.m-t-0 { margin-top:    0 !important; }
.m-r-0 { margin-right:  0 !important; }
.m-b-0 { margin-bottom: 0 !important; }
.m-l-0 { margin-left:   0 !important; }
.m-x-0 { margin-right:  0 !important; margin-left:   0 !important; }
.m-y-0 { margin-top:    0 !important; margin-bottom: 0 !important; }

// Padding
.p-a-0 { padding:        0 !important; }
.p-t-0 { padding-top:    0 !important; }
.p-r-0 { padding-right:  0 !important; }
.p-b-0 { padding-bottom: 0 !important; }
.p-l-0 { padding-left:   0 !important; }
.p-x-0 { padding-left:   0 !important; padding-right: 0 !important; }
.p-y-0 { padding-top:    0 !important; padding-bottom: 0 !important; }

@each $size, $em in $sizes {
    .m-a-#{$size} { margin: #{$em}rem !important; }
    .m-t-#{$size} { margin-top: #{$em}rem !important; }
    .m-r-#{$size} { margin-right: #{$em}rem !important; }
    .m-b-#{$size} { margin-bottom: #{$em}rem !important; }
    .m-l-#{$size} { margin-left: #{$em}rem !important; }
    .m-x-#{$size} { margin-right: #{$em}rem !important; margin-left: #{$em}rem !important; }
    .m-y-#{$size} { margin-top: #{$em}rem !important; margin-bottom: #{$em}rem !important; }

    .p-a-#{$size} { padding: #{$em}rem !important; }
    .p-t-#{$size} { padding-top: #{$em}rem !important; }
    .p-r-#{$size} { padding-right: #{$em}rem !important; }
    .p-b-#{$size} { padding-bottom: #{$em}rem !important; }
    .p-l-#{$size} { padding-left: #{$em}rem !important; }
    .p-x-#{$size} { padding-right: #{$em}rem !important; padding-left: #{$em}rem !important; }
    .p-y-#{$size} { padding-top: #{$em}rem !important; padding-bottom: #{$em}rem !important; }
}

