<ion-view title="Transaction" id="page7" style="background-color:#FF5D53;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 120px;"></div>
    <div class='text-center'>
        <i class="ion-android-alert  display3  text-light"></i>
    </div>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <div id="errorModel-markdown2" style="text-align:center;" class="show-list-numbers-and-dots  text-light">
        <h4 class="text-light">Transaction impossible</h4>
        <p class="text-light">Le montant du bon n'est pas suffisant. </p>
    </div>
  </ion-content>
</ion-view>
