<ion-view title="" id="page1" style="background-color:#FFFFFF;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"> Recapitulatif commande</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-close"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 148px;"></div>
    <div id="page1-container5">
      <div id="page1-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>X</strong> sera debité de</p>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div id="page1-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:50px;">3 €</p>
    </div>
    <div class="spacer" style="width: 300px; height: 121px;"></div>
    <div id="page1-markdown14" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Avant validation, merci de vérifier l'identité du client avec son billet d'avion</p>
    </div>
    <button id="page1-button1" class="button button-positive  button-block button-clear">--&gt; VALIDER L'ACHAT</button>
  </ion-content>
</ion-view>