<ion-view hide-nav-bar="true" id="page2">
  <ion-content padding="true" >
    <div class="spacer" style="width: 300px; height: 45px;"></div>
    <div>
      <img src="img/logo-round.png" style="display: block; width: 25%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="partnerHomePage-heading1" style="color:#000000;font-weight:300;text-align:center;">Universal Voucher</h4>
    <div class="spacer" style="width: 300px; height: 45px;"></div>
      <div id="partnerHomePage-markdown9" style="text-align:center;" class="show-list-numbers-and-dots  p-x-xl  text-calm">
        <p style="color:#82879C;">Paiement d'un produit avec un bon d'achat Air France</p>
    </div>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <div id="partnerHomePage-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">ENTREZ UN MONTANT</p>
    </div>
    <form id="partnerHomePage-form1" class="row">
      <label class="item item-input" id="partnerHomePage-input1">
        <input style="text-align: right; " ng-model = "formData.amount" type="text" placeholder="">
      </label>
        <span class="input-label m-y-sm m-l-md">€</span>
    </form>
    <div class="spacer" style="width: 300px; height: 45px;"></div>
      <div ng-click="scan()" class='btn-wrap'>
        <a class='btn-rounded bg-balanced'>
            <i class="ion-android-camera text-night font-xl"></i>
        </a>
        <a class="p-t-sm  text-night">Scanner le voucher</a>

    </div>
  </ion-content>
</ion-view>
