/**
* Forms
* --------------------------------------------------
*/

#partnerHomePage-form1 {
    justify-content: center;
    .input-label {
        width: 46px;
    }
    label {
        width: 100px;
    }
}
